@import "globals";

/* about section */
.about-section {
    padding: 4rem 0;
    background-color: $dark;
    color: $light;
    box-shadow: 0 0 6rem 8rem $dark;
}

.about-inner {
    display: flex;
    justify-content: space-between;
}
    
.about-text {
    padding: 0 0 0 1rem;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-shadow: 0 0 3px black;

    h2 {
        font-size: 2rem;
    }

    p {
        margin: 1rem 0;
        color: $grey;
    }
}

.about-img {
    width: 16.5rem;
    height: 25rem;

    img {
        width: inherit;
        height: 100%;
        border-radius: 1rem;
        object-fit: cover;
    }
}

.about-btns {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

.about-btn {
    font-size: 1rem;
    font-family: $font-monts;
    padding: 0.5rem 1rem;
    border: 1px solid $light;
    background-color: transparent;
    border-radius: 2rem;
    color: $light;
    text-shadow: 0 0 3px black;
    box-shadow: 0 0 3px black;

    * {
        margin: 0 0.5rem;
    }
}

/* featured */
.featured {
    background-color: $dark;
    padding: 4rem 0;
    color: $light;

    h2 {
        font-size: 2.5rem;
        margin: 1rem;
        text-align: center;
    }
}

.dishes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.dish {
    margin: 1rem 0;
}

.dish-img {
    border-radius: 1rem;
    overflow: hidden;

    img {
        width: 100%;
        border-radius: 1rem;
        transition: all 0.5s ease-out;
    }
}

.dish-img:hover img {
    transform: scale(1.1);
}

.dish-text {
    margin: 0.5rem 0;

    i {
        color: $primary-color;
    }
}

/* acheivements section */
.achievements-section {
    text-align: center;
    
    h2 {
        font-size: 2.5rem;
        color: $light;
    }
}

.achievements {
    height: 20rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    overflow-x: auto;
}
 
.achievement {
    min-width: 10rem;
    padding: 1rem;
    border: 0.25rem solid $light;
    border-radius: 3rem;
    background-color: transparent;
    color: $light;
    text-align: center;
    text-shadow: $text-shadow;
    box-shadow: $text-shadow;

    h3 {
        font-size: 2rem;
    }

    p {
        font-size: 0.8rem;
    }
}

/* howitworks */
.howitworks-section {
    background-color: $dark;
    padding: 2rem 0 10rem 0;
    box-shadow: 0 0 6rem 8rem $dark;

    h2 {
        font-size: 3rem;
        color: $light;
        text-align: center;
        margin-bottom: 4rem;
    }
}

.howitworks-inner {
    display: flex;
    justify-content: space-between;
    color: $light;
    gap: 1rem;

    div {
        width: 15rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        i {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            border: 2px solid $light;
            color: $primary-color;
        }

        a {
            color: $light;
            text-decoration: none;
        }
    }
}