@import "globals";

.hero {
    height: 20rem !important;
}

/* Menu section */
.menu-section {
    background-color: $dark;
    padding: 0 0 4rem 0;
    box-shadow: 0 0 6rem 8rem $dark;
}

.menu-inner {
    h2 {
        font-size: 2.5rem;
        color: $light;
        text-align: center;
        margin: 1rem 0;
    }
}

.menu-items {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2rem;
    column-gap: 1rem;
}

.menu-item {

    img {
        width: 100%;
        border-radius: 1rem;
    }
}

.menu-item-text {
    color: $light;

    p {
        display: -webkit-box; 
        -webkit-box-orient: vertical; 
        -webkit-line-clamp: 2; 
        overflow: hidden; 
        text-overflow: ellipsis; 
    }

    i {
        color: $primary-color;
        font-size: 0.9rem;
    }
}

.pagination {
    padding: 1rem 0;
    justify-content: end;
    display: flex;
    gap: 0.5rem;

    a {
        color: $light;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 2rem;
        border: 1px solid $grey;
        border-radius: 50%;
        font-size: 0.9rem;
    }

    a:hover {
        background-color: $light;
        color: $dark;
        cursor: pointer;
    }

    .active {
        color: $dark;
        border-color: $primary-color;
        background-color: $primary-color;
    }

    .active:hover {
        background-color: $primary-color;
        color: $dark;
        cursor: not-allowed;
    }
}