@media screen and (max-width: 1280px) {
    .container {
        width: 768px;
    }
    
    html {
        font-size: 16px;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        width: 640px;
    }
    
    html {
        font-size: 14px;
    }

    .goto-top {
        right: 1rem;
        bottom: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
    
    html {
        font-size: 14px;
    }

    .navbar {
        padding: 0 1rem;
    }

    .nav-btn {
        padding: 0.5rem 0.8rem;
    }

    .featured {
        padding: 3rem 1rem;
    }
    
    .about-section {
        padding: 2rem 1rem;
    }

    .achievements-section {
        padding: 0 1rem;
    }
    
    .newsletter {
        padding: 0 1rem;
    }

    .footer {
        padding: 0 1rem;
    }

    .menu-inner {
        padding: 0 1rem;
    }

    .about-us-inner {
        padding: 0 1rem;
    }

    .contact-section-inner {
        padding: 0 1rem;
    }

    .goto-top {
        button {
            background-color: $light;
            color: $dark;
            box-shadow: 0 0 1rem 0 $dark;
        }
    }

    .app-links-inner {
        padding: 1rem;
    }

    .app-links-img {
        right: 1rem;
    }
}

@media screen and (max-width: 640px) {
    .container {
        width: 100%;
    }
    
    html {
        font-size: 12px;
    }

    .logo {
        margin: 0;
    }

    .nav-list {
        position: absolute;
        top: 5rem;
        right: 1rem;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 1rem;
        border: 1px solid grey;
        border-top-right-radius: 0;
        text-align: center;
        overflow: hidden;
        height: 0px;
        visibility: hidden;
        gap: 0;

        li {
            width: 100%;
        } 
    }

    .nav-link {
        display: block;
        padding: 1rem 5rem;
    }

    .nav-link:hover::after {
        width: 0;
    }   

    .nav-show {
        height: 15rem;
        visibility: visible;
    }

    .burger {
        display: inline-block;
    }

    .about-img {
        display: none;
    }

    .newsletter-inner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .newsletter-form {
        input {
            width: 20rem;
            font-size: 0.9rem;
        }
    }

    .footer-inner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    
    .socials {
        justify-content: center;
    }

    .howitworks-inner {
        padding: 0 1rem;
    }

    .menu-items {
        grid-template-columns: repeat(3, 1fr);
    }

    .about-us-item {
        gap: 1rem;
    }

    .about-us-text {
        grid-column: span 7;
    }

    .about-us-img {
        grid-column: span 5;
    }

    .contact-form {
        input, textarea {
            font-size: 0.9rem;
            padding: 0.7rem 1rem;
        }
    }

    .contact-info {
        p {
            font-size: 0.9rem;
        }
    }

    .app-links-img {
        width: 15rem;
    }

    .app-links-section {
        padding-bottom: 5rem;
    }
}

@media screen and (max-width: 480px) {
    .about-us-img {
        img {
            aspect-ratio: 4 / 6;
        }
    }

    .about-us-text {
        p {
            font-size: 0.9rem;
        }
    }

    .app-links-inner {
        justify-content: center;
    }

    .app-links-img {
        display: none;
    }
}