@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

:root {
    --primary-color: #f9a912;
    --secondary-color: #ffffff;
    --dark: #000;
    --light: #fff;
    --grey: #ddd;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-primary {
    color: var(--primary-color);
}

/* html */
html {
    font-size: 18px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* container */
.container {
    max-width: 1024px;
    margin: auto;
    position: relative;
}

/* navbar */
.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--secondary-color);
    gap: 4rem;
}

.logo {
    margin-right: 1rem;
    width: 6rem;
}

.logo img {
    width: 100%;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 2rem;
    transition: all 0.1s linear;
}

.nav-link {
    display: block;
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    transition: all 0.2s linear;
    text-shadow: 0 0 3px black;
}

.nav-link:hover {
    opacity: 0.9;
}

.nav-link::after {
    display: block;
    content: '';
    width: 0%;
    height: 0.2rem;
    background-color: var(--secondary-color);
    transition: all 0.2s linear;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-btn {
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    background-color: transparent;
    color: var(--secondary-color);
    font-size: 1rem;
    border: 2px solid var(--secondary-color);
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    transition: 0.2s all linear;
    text-shadow: 0 0 3px black;
    box-shadow: 0 0 3px 0 black;
}

.nav-btn:hover {
    background-color: var(--secondary-color);
    color: black;
    cursor: pointer;
    text-shadow: none;
}

/* burger */
.burger {
    padding: 0.5rem 0.7rem;
    border: 2px solid var(--secondary-color);
    border-radius: 50%;
    background-color: transparent;
    display: none;
}

.burger-active {
    background-color: var(--secondary-color);
    color: black;
}

/* hero */
.hero {
    width: 100%;
    height: 32rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
    font-size: 2rem;
    text-align: center;
    text-shadow: 0 0 3px black;
    letter-spacing: 0.1rem;
    padding: 0 1rem;
}

.hero-img {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-image: url('../assets/img/hero-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    box-shadow: inset 0 0 0 50vw rgba(0, 0, 0, 0.5);
    z-index: -99;
}


/* featured */
.featured {
    background-color: var(--dark);
    padding: 2rem 1rem;
    box-shadow: 0 0 6rem 8rem var(--dark);
    color: var(--light);
}

.featured .header {
    font-size: 2.5rem;
    margin: 1rem;
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.card {
    margin: 1rem 0;
}

.card-img {
    border-radius: 1rem;
    overflow: hidden;
}

.card-img img {
    width: 100%;
    border-radius: 1rem;
    transition: all 0.5s ease-out;
}

.card-img:hover img {
    transform: scale(1.1);
}

.card-text {
    margin: 0.5rem 0;
}

/* about section */
.about-section {
    padding: 2rem 0;
    background-color: var(--dark);
    color: var(--light);
}

.about-inner {
    display: flex;
    justify-content: space-between;
}

.about-text {
    padding: 0 0 0 1rem;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-shadow: 0 0 3px black;
}

.about-text h2 {
    font-size: 2rem;
}

.about-text p {
    text-align: justify;
    margin: 1rem 0;
    color: var(--grey);
}

.about-img {
    width: 16.5rem;
    height: 25rem;
}

.about-img img {
    width: inherit;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
}

.about-btns {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

.about-btn {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    padding: 0.5rem 1rem;
    border: 1px solid var(--light);
    background-color: transparent;
    border-radius: 2rem;
    color: var(--light);
    text-shadow: 0 0 3px black;
    box-shadow: 0 0 3px black;
}

.shadow {
    box-shadow: 0 0 5rem 5rem var(--dark);
    height: 5rem;
    background-color: var(--dark);
}

/* acheivements section */
.achievements-section {
    height: 20rem;
    text-align: center;
}

.achievements-section h2 {
    font-size: 2.5rem;
    color: var(--light);
}

/* media queries */
@media screen and (max-width: 1280px) {
    .container {
        width: 768px;
    }
    
    html {
        font-size: 16px;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        width: 640px;
    }
    
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
    
    html {
        font-size: 14px;
    }

    .navbar {
        padding: 0 1rem;
    }
    
    .about-section {
        padding: 2rem 1rem;
    }

    .nav-btn {
        padding: 0.5rem 0.8rem;
    }
}

@media screen and (max-width: 640px) {
    .container {
        width: 100%;
    }
    
    html {
        font-size: 12px;
    }

    .logo {
        margin: 0;
    }

    .nav-list {
        position: absolute;
        top: 5rem;
        right: 1rem;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 1rem;
        border: 1px solid grey;
        border-top-right-radius: 0;
        text-align: center;
        overflow: hidden;
        height: 0px;
        visibility: hidden;
        gap: 0;
    }

    .nav-list li {
        width: 100%;
    }

    .nav-link {
        display: block;
        padding: 1rem 5rem;
    }

    .nav-link:hover::after {
        width: 0;
    }

    .nav-show {
        height: 15rem;
        visibility: visible;
    }

    .burger {
        display: inline-block;
    }

    .about-section {
        padding: 2rem 0;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .about-img {
        /* position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0; */
        display: none;
    }

    .about-img img {
        border-radius: 0;
    }

}
 